<%- include('../layouts/header') %>


<div class="content-wrapper">
    <div class="row">
      <!-- ----------------------------------------------------------------------------- -->
      <div class="col-7 mx-auto grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Extra Category</h4>
            <p class="card-description">Add Extra Category </p>
            <form method="post" action="/extraCategory/insertExtraCategory" class="forms-sample">
              <div class="form-group">
                  <label for="exampleInputCity1">*Category:- </label>
                  <select name="categoryId" id="categoryId" class="form-select text-dark">
                      <option value="">--Select Category--</option>
                      <% allCategory.map((item)=>{ %>
                          <option value="<%= item._id %>"><%= item.categoryName %></option>
                      <% }) %>
                  </select>
              </div>
              <div class="form-group">
                  <label for="exampleInputCity1">*Category:- </label>
                  <select name="subCategoryId" id="subCategoryId" class="form-select text-dark">
                    <option value="">--Select Sub Category--</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">*Extra Category Name:- </label>
                <input type="text" name="extraCategoryName" value="<%= oldValue && oldValue.categoryName %>"  class="form-control" id="exampleInputName1" placeholder="Extra Category Name">
                <% if(errors&&errors.categoryName){ %>
                  <p class="text-danger">*<%= errors.categoryName.msg %></p>
                <% } %>
              </div>
              <button type="submit" class="btn btn-primary me-2">Add</button>
              <a href="/extraCategory" class="btn btn-light">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../layouts/footer') %>
  <script>
        document.querySelector('#categoryId').addEventListener('change',(e)=>{
            $.ajax({
                type:'GET',
                url:`/extraCategory/getSubCategory/${e.target.value}`,
                success : (res)=>{
                    let ihtml = '<option value="">--Select Sub Category--</option>';
                    res.map((item)=>{
                        ihtml+=`<option value="${item._id}"> ${item.subCategoryName }</option>`
                    })
                    document.querySelector('#subCategoryId').innerHTML = ihtml;
                },
                error :(err)=>{
                    console.log(err);
                }
            });
        });
  </script>