<%- include('header') %>


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">My Order</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">My Order</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <% allOrder.map((item,i)=>{ %>
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% let subTotal = 0;
                         item.allCartItem.map((v)=>{
                            subTotal += (v.productId.price - (v.productId.price*v.productId.discount)/100)*v.quantity;
                             %>
                            <tr>
                                <td class="align-middle"><img src="<%= v.productId.coverImage %>" alt="" style="width: 50px;"> <%= v.productId.title %></td>
                                <td class="align-middle">₹ <%= v.productId.price - (v.productId.price*v.productId.discount)/100 %></td>
                                <td class="align-middle text-center">
                                    <div class="quantity">
                                        <div class="bg-secondary px-2 d-flex align-vs-center justify-content-center">
                                            <%= v.quantity %>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">₹ <%= (v.productId.price - (v.productId.price*v.productId.discount)/100)*v.quantity %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹ <%= Math.ceil(subTotal) %></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹ <%= Math.ceil(subTotal)+10 %></h5>
                        </div>
                        <a href="#" class="btn btn-block btn-primary my-3 py-3">Track Order</a>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <!-- Cart End -->

<%- include('footer') %>