
<%- include('../layouts/header') %>

<div class="content-wrapper"> 
  <div class="mb-4 d-flex align-items-center">
    <form>
      <input type="text" name="searchValue" value="<%= searchValue %>"  class="py-1 px-3 border rounded-1" placeholder="searching here" />
      <input type="date" class="py-1 px-3 border rounded-1" name="date" value="<%= date && new Date(date).toISOString().split('T')[0] %>" />
      <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-magnifying-glass"></i></button>
      <a href="/subCategory/viewSubCategory" class="btn btn-primary btn-sm"><i class="fa-solid fa-arrows-rotate"></i></a>
    </form>
    <div class="dropdown ms-2">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ShortBy </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton1">
        <a class="dropdown-item" href="?sort=<%= sort==1?-1:1 %>&&sortType=subCategoryName<%= searchValue?'&searchValue='+searchValue:'' %><%= date?'&date='+date:'' %>">Name ↑↓</a>
        <a class="dropdown-item" href="?sort=<%= sort==1?-1:1 %>&&sortType=createdAt<%= searchValue?'&searchValue='+searchValue:'' %><%= date?'&date='+date:'' %>">Date ↑↓</a>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form method="post" action="/subCategory/deactiveAllSubCategory">
            <h4 class="card-title d-flex align-items-center justify-content-between">Active Sub Category <button type="submit" style="font-size: 12px;" class="btn btn-primary p-2 ms-2 hideBtn" id="allDeactiveBtn"><i class="fa-solid fa-ban"></i></button></h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="d-flex align-items-center">
                      <input type="checkbox" id="checkAll" />
                    </th>
                    <th style="width: 30px;">#</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% let count = 0;
                  allSubCategory.map((item)=>{
                    if(item.status) {%>
                    <tr>
                      <td><input type="checkbox" name="catIds" class="activeCat" value="<%= item._id %>"/></td>
                      <td> <%= count++ %></td>
                      <td> <%= item.categoryId.categoryName%> </td>
                      <td> <%= item.subCategoryName %> </td>
                      </td>
                      <td> 
                          <div class="d-flex">
                            <a href="/subCategory/changeSubCategoryStatus/<%= item.id %>/false" class="nav-link mx-2"><i class="fa-solid fa-ban"></i></a>
                            <a href="javascript:void(0)" onclick="updateSubCategory(`<%= JSON.stringify(item) %>`)" data-bs-toggle="modal" data-bs-target="#updateSubCategory" class="nav-link mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                          </div>
                      </td>
                    </tr>
                  <% }}) %>
                </tbody>
              </table>
            </div>
          </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <form method="post" action="/subCategory/operandAllDactiveSubCategory">
            <div class="card-title d-flex align-items-center justify-content-between">
              <h4>Deactive Sub Category</h4>
              <div>
                <button type="submit" name="activeAll" value="activeAll" style="font-size: 12px;padding: 6px;" class="btn btn-primary ms-2 hideBtn" id="allActiveBtn" ><i class="mdi mdi-keyboard-return"></i></button>
                <button type="submit" name="deleteAll" value="deleteAll" style="font-size: 12px;" class="btn btn-primary p-2 ms-2 hideBtn" id="allDeleteBtn"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <tr>
                      <th class="d-flex align-items-center">
                        <input type="checkbox" id="checkAllDeactive" />
                      </th>
                      <th style="width: 30px;">#</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% count = 0;
                  allSubCategory.map((item)=>{
                    if(!item.status) {%>
                    <tr>
                      <td><input type="checkbox" name="catIds" class="deactiveCat" value="<%= item._id %>"/></td>
                      <td> <%= count++ %></td>
                      <td> <%= item.categoryId.categoryName%> </td>
                      <td> <%= item.subCategoryName %> </td>
                      </td>
                      <td> 
                          <div class="d-flex">
                            <a href="/subCategory/changeSubCategoryStatus/<%= item.id %>/true" class="nav-link mx-2"><i class="mdi mdi-keyboard-return" style="font-size: 18px;"></i></a>
                            <a href="/subCategory/deleteSubCategory/<%= item.id %>" class="nav-link mx-2"><i class="fa-solid fa-trash"></i></a>
                            <a href="javascript:void(0)" onclick="updateSubCategory(`<%= JSON.stringify(item) %>`)" data-bs-toggle="modal" data-bs-target="#updateSubCategory" class="nav-link mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                          </div>
                      </td>
                    </tr>
                  <% }}) %>
                </tbody>
              </table>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Category Update Modal -->
<div class="modal fade" id="updateSubCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/subCategory/editSubCategory" class="forms-sample">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputCity1">*Category:- </label>
                <select name="categoryId" id="categoryId" class="form-select text-dark">
                    
                </select>
            </div>
          <div class="form-group">
            <input type="hidden" name="id" id="id">
            <label for="exampleInputName1">*Category Name:- </label>
            <input type="text" name="subCategoryName" class="form-control" id="subCategoryName" placeholder="First Name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <%- include('../layouts/footer') %>

  <script>
    function updateSubCategory(item){
      const singleSubCategory = JSON.parse(item);
      document.querySelector('#id').value = singleSubCategory._id;
      document.querySelector('#subCategoryName').value = singleSubCategory.subCategoryName;
      document.querySelector('#categoryId').innerHTML = `
            <option value="">--Select City--</option>
            <% allCategory.map((item)=>{ %>
                        <option value="<%= item._id %>" ${'<%= item._id %>'== singleSubCategory.categoryId._id ?'selected':''}><%= item.categoryName %></option>
            <% }) %>
      ` 
    }

    // $('#allDeactiveBtn').hide();
    $("#checkAll").click(function(){
      $('#allDeactiveBtn').toggleClass('hideBtn');
      $('.activeCat').not(this).prop('checked', this.checked);
    });
    $("#checkAllDeactive").click(function(){
      $('#allActiveBtn').toggleClass('hideBtn');
      $('#allDeleteBtn').toggleClass('hideBtn');
        $('.deactiveCat').not(this).prop('checked', this.checked);
    });
  </script>