<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="/images/logo.svg" alt="logo">
                </div>
                <h4>Verify OTP</h4>
                <p class="my-3">We Send you a <b>One Time Password</b> on this email <b><%= email.substr(0,2) %>********<%= email.substr(email.indexOf('@')-3) %></b></p>
                <a href="/admin/checkEmail" class="nav-link text-primary mb-3">change Email </a>
                <form method="post" action="/admin/verifyOtp" class="pt-3">
                  <div class="form-group mb-2">
                    <input type="number" name="otp" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="OTP">
                  </div>
                  <div>
                    <% if(isExistOtp) { %>
                      <p class=" mb-4 text-danger" id="expTime">00:00</p>
                      <p class="nav-link mb-4 text-primary" id="resend" style="display: none;cursor: pointer;">Resend Otp</p>
                    <% } else { %>
                      <p class="nav-link mb-4 text-primary" id="resend" style="cursor: pointer;">Resend Otp</p>
                    <%} %>
                  </div>
                  <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >Verify</button>
                  </div>
                </form>
                <form method="post" action="verifyEmail" style="display: none;">
                  <input type="text" name="email" value="<%= email %>" />  
                  <button type="submit" id="resendBtn"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/todolist.js"></script>
    <!-- endinject -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      '<% if(locals.flash && locals.flash.success.length > 0) { %>'
           new Noty({
             type: 'success',
             layout: 'topCenter',
             theme:'metroui',
             text: '<%= locals.flash.success %>',
             timeout : 1000
           }).show();
    ' <% } else if(locals.flash && locals.flash.error.length > 0) { %>'
           new Noty({
             type: 'error',
             layout: 'topCenter',
             theme:'metroui',
             text: '<%= locals.flash.error %>',
             timeout : 1000
           }).show()
     '<% } %> '
     </script>

     <script>

        function formatTime(count){
          let minit = Math.floor((count)/60);
          let second = count % 60
          return `${minit.toString().padStart(2,'0')}:${second.toString().padStart(2,'0')}`
        }

        '<% if(isExistOtp) { %>'
          const expTime = document.querySelector('#expTime');
          let count = 30;
          expTime.innerHTML = formatTime(count);
          const intervalId = setInterval(() => {
            expTime.innerHTML = formatTime(--count);
            if(count<0){
              clearInterval(intervalId);
              document.getElementById('resend').style.display = 'block';
              expTime.style.display = 'none';
            }
          }, 1000);
        '<% } %>'

        document.querySelector('#resend').addEventListener('click',()=>{
          document.querySelector('#resendBtn').click();
        })
     </script>
  </body>
</html>